.navbar-fixed-top {
    border-bottom: 5px solid indianred;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: indianred;
}


/* Home */
.panel-heading {
    cursor: pointer;
}

/* History */
#historyContent {
    padding-top: 50px;
}

#historyContent .panel > .nav-tabs {
    border-bottom: none;
}

#historyContent .nav-item {
    border-bottom: none;
}

#historyContent .tab-content#dataContent {
    padding-top: 20px;
    border: 1px solid #ddd;
}